
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 90%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


h1 {
  font-family: trim-bold;
}

@font-face {
  font-family: 'icomoon';
  src:  url('./fonts/icomoon.eot?ypuftl');
  src:  url('./fonts/icomoon.eot?ypuftl#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.ttf?ypuftl') format('truetype'),
    url('./fonts/icomoon.woff?ypuftl') format('woff'),
    url('./fonts/icomoon.svg?ypuftl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-close1:before {
  content: "\e903";
}
.icon-check1:before {
  content: "\e904";
}
.icon-close:before {
  content: "\e901";
}
.icon-chevron-thin-left:before {
  content: "\e905";
}
.icon-chevron-thin-right:before {
  content: "\e900";
}
.icon-check:before {
  content: "\e902";
}
.icon-library:before {
  content: "\e921";
}
.icon-credit-card:before {
  content: "\e93f";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-paypal:before {
  content: "\ead8";
}




:root {
  --color-tarmac: #0C161C;
  --color-yellow: #F7FF1a;
  --color-chalk: #F9FAFA;
  --color-danger: #FD7777;
  --color-blue: #0070BA;
  --color-tarmac-light-10: #242D33;
  --color-tarmac-light-20: #3D4549;
  --color-tarmac-light-60: #9EA2A4;
  --color-tarmac-light-70: #B6B9BB;
  --color-tarmac-light-80: #CED0D2;
  --color-yellow-dark-10: #dee517;
  --color-yellow-light-50: #fbff8c;
  --color-chalk-dark-10: #e0e1e1;
  --color-chalk-light-20: #ffffff;
  --color-blue-dark-20: #005994;

  --font-size-nav: 15px;
  --font-size-heading: 24px;
  --font-size-select: 16px;
  --font-size-features: 18px;

  --sp: 12px;
  --sp-s: 8px;
  --sp-xs: 4px;

  --shadow: 0 4px 8px -6px var(--color-tarmac-light-60);
}

/* Trim Typeface */
@font-face {
  font-family: 'trim-bold';
  src: url('https://s3.eu-west-2.amazonaws.com/assets.dazn.design/fonts/Trim/woff2/TrimDAZNHeader-Bold.woff2') format('woff2'), url('https://s3.eu-west-2.amazonaws.com/assets.dazn.design/fonts/Trim/woff/TrimDAZNHeader-Bold.woff') format('woff'), url('https://s3.eu-west-2.amazonaws.com/assets.dazn.design/fonts/Trim/ttf/TrimDAZNHeader-Bold.ttf') format('truetype'), url('https://s3.eu-west-2.amazonaws.com/assets.dazn.design/fonts/Trim/eot/TrimDAZNHeader-Bold.eot'), url('https://s3.eu-west-2.amazonaws.com/assets.dazn.design/fonts/Trim/eot/TrimDAZNHeader-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: 800;
}

@font-face {
  font-family: 'trim-regular';
  src: url('https://s3.eu-west-2.amazonaws.com/assets.dazn.design/fonts/Trim/woff2/TrimDAZNHeader-Regular.woff2') format('woff2'), url('https://s3.eu-west-2.amazonaws.com/assets.dazn.design/fonts/Trim/woff/TrimDAZNHeader-Regular.woff') format('woff'), url('https://s3.eu-west-2.amazonaws.com/assets.dazn.design/fonts/Trim/ttf/TrimDAZNHeader-Regular.ttf') format('truetype'), url('https://s3.eu-west-2.amazonaws.com/assets.dazn.design/fonts/Trim/eot/TrimDAZNHeader-Regular.eot'), url('https://s3.eu-west-2.amazonaws.com/assets.dazn.design/fonts/Trim/eot/TrimDAZNHeader-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'trim-semi-bold';
  src: url('https://s3.eu-west-2.amazonaws.com/assets.dazn.design/fonts/Trim/woff2/TrimDAZNHeader-SemiBold.woff2') format('woff2'), url('https://s3.eu-west-2.amazonaws.com/assets.dazn.design/fonts/Trim/woff/TrimDAZNHeader-SemiBold.woff') format('woff'), url('https://s3.eu-west-2.amazonaws.com/assets.dazn.design/fonts/Trim/ttf/TrimDAZNHeader-SemiBold.ttf') format('truetype'), url('https://s3.eu-west-2.amazonaws.com/assets.dazn.design/fonts/Trim/eot/TrimDAZNHeader-SemiBold.eot'), url('https://s3.eu-west-2.amazonaws.com/assets.dazn.design/fonts/Trim/eot/TrimDAZNHeader-SemiBold.eot?#iefix') format('embedded-opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'trim-light';
  src: url('https://s3.eu-west-2.amazonaws.com/assets.dazn.design/fonts/Trim/woff2/TrimDAZNHeader-Light.woff2') format('woff2'), url('https://s3.eu-west-2.amazonaws.com/assets.dazn.design/fonts/Trim/woff/TrimDAZNHeader-Light.woff') format('woff'), url('https://s3.eu-west-2.amazonaws.com/assets.dazn.design/fonts/Trim/ttf/TrimDAZNHeader-Light.ttf') format('truetype'), url('https://s3.eu-west-2.amazonaws.com/assets.dazn.design/fonts/Trim/eot/TrimDAZNHeader-Light.eot'), url('https://s3.eu-west-2.amazonaws.com/assets.dazn.design/fonts/Trim/eot/TrimDAZNHeader-Light.eot?#iefix') format('embedded-opentype');
  font-weight: 100;
}

@font-face {
  font-family: 'oscine-regular';
  src: url('https://s3.eu-west-2.amazonaws.com/assets.dazn.design/fonts/Oscine/woff2/Oscine_W_Rg.woff2') format('woff2'), url('https://s3.eu-west-2.amazonaws.com/assets.dazn.design/fonts/Oscine/woff/Oscine_W_Rg.woff') format('woff'), url('https://s3.eu-west-2.amazonaws.com/assets.dazn.design/fonts/Oscine/ttf/Oscine_W_Rg.ttf') format('truetype'), url('https://s3.eu-west-2.amazonaws.com/assets.dazn.design/fonts/Oscine/eot/Oscine_W_Rg.eot'), url('https://s3.eu-west-2.amazonaws.com/assets.dazn.design/fonts/Oscine/eot/Oscine_W_Rg.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'oscine-bold';
  src: url('https://s3.eu-west-2.amazonaws.com/assets.dazn.design/fonts/Oscine/woff2/Oscine_W_Bd.woff2') format('woff2'), url('https://s3.eu-west-2.amazonaws.com/assets.dazn.design/fonts/Oscine/woff/Oscine_W_Bd.woff') format('woff'), url('https://s3.eu-west-2.amazonaws.com/assets.dazn.design/fonts/Oscine/ttf/Oscine_W_Bd.ttf') format('truetype'), url('https://s3.eu-west-2.amazonaws.com/assets.dazn.design/fonts/Oscine/eot/Oscine_W_Bd.eot'), url('https://s3.eu-west-2.amazonaws.com/assets.dazn.design/fonts/Oscine/eot/Oscine_W_Bd.eot?#iefix') format('embedded-opentype');
  font-weight: 800;
}

/****************************************************************

Starts

****************************************************************/

.period > div > span,
.package-price-period {
  font-size: 12px;
}

.steps,
.view-all-sports,
.period > div,
.most-popular {
  font-size: 16px;
}

.package > div {
  font-size: 22px;
}

h1 {
  font-size: 24px;
}

body {
    background-color: var(--color-tarmac);
    color: var(--color-chalk-light-20);
    font-family: 'trim-regular';
    text-align: center;
}

.first-month {
  font-family: 'oscine-bold';
  padding: 12px 0 16px;
}

.steps {
  padding-top: var(--sp);
  padding-bottom: var(--sp);
}

h1 {
  font-family: 'trim-bold';
  text-transform: uppercase;
  padding-bottom: var(--sp);
}

.period {
  margin: var(--sp) 28px;
}

.period > div {
  background: var(--color-tarmac-light-10);
  font-family: 'oscine-bold';
  display: inline-block;
  width: 50%;
  padding-bottom: var(--sp-s);
  padding-top: var(--sp-s);
}

.period > div > span {
  color: var(--color-yellow);
}

.period > div.active {
  border-bottom: solid 2px var(--color-yellow);
}

.package > div{
  display: inline-block;
  width: 50%;
}

.package-info {
  background: var(--color-tarmac-light-10);
  font-family: 'trim-bold';
  padding-bottom: 30px;
  padding-top: 40px;
  margin: 0 4px;
  text-transform: uppercase;
  position: relative;
}


.most-popular {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: var(--sp-xs) 0;
  background: var(--color-tarmac-dark-10);
  color: var(--color-chalk);
}

.package-info.active .most-popular {
  background: var(--color-yellow-dark-10);
  color: var(--color-tarmac);
}

.package-info.active {
  background: var(--color-yellow);
  color: var(--color-tarmac);
}

.package-price {
  padding-top: 18px;
}

.package-price-period {
  font-family: 'oscine-regular';
}

.features {
  font-family: 'oscine-bold';
  color: var(--color-tarmac);
  text-align: left;
  margin: var(--sp-s) var(--sp-xs);
  padding: var(--sp);
  position: relative;
}

.features li {
  padding: 8px 8px 8px 40px;
  position: relative;
  line-height: 1.4;
}

.features i {
  position: absolute;
  left: 4px;
  padding-right: 12px;
  line-height: 1.4;
}

.no-icon {
  padding: 0 4px 0 0;
}

.features.right::before {
  left: 75%;
  margin-left: -6px;
}


.btn {
  font-family: 'trim-bold';
  text-transform: uppercase;
  font-style: italic;
  background: var(--color-yellow);
  color: var(--color-tarmac);
  padding: 22px var(--sp);
  margin: var(--sp) 0;
}

footer {
  text-align: left;
  padding-bottom: 24px;
  padding: var(--sp) var(--sp-xs);
}

footer li {
  padding: var(--sp-xs) 0;
}

.fade-out {
  opacity: 0.45;
}


/*****************/

.scroll-package {
  background: var(--color-chalk);
  margin-bottom: 24px;
}

.scroll-package-header {
  color: var(--color-tarmac);
  font-family: 'trim-bold';
  text-transform: uppercase;
  box-shadow: var(--shadow);
  position: relative;
  padding: 8px 0 20px;
  font-size: 20px;
}

.scroll-package-header.basic {
  padding: 18px 0;
}

.scroll-package-most-popular {
  font-family: 'oscine-regular';
  font-size: 14px;
  margin: 2px 0 -10px;
  letter-spacing: 3px;
}

.scroll-package-cta > div {
  width: 50%;
  display: inline-block;
  padding: 0 0 24px 0;
  color: var(--color-tarmac);
  position: relative;
}

.scroll-package-cta p {
  padding-bottom: 2px;
  font-family: 'trim-bold';
  text-transform: uppercase;
  font-size: 20px;
  position: absolute;
  top: 50px;
  line-height: 0.8;
}

.scroll-package-cta p.cta-with-permonth {
  top: 42px;
}

.scroll-package-cta-button {
  background: var(--color-yellow);
  color: var(--color-tarmac);
  font-family: 'trim-bold';
  font-size: 20px;
  /* padding: 18px 12px; */
  margin: 0 4px;
  box-shadow: var(--shadow);
  display: flex;
  height: 50px;
  justify-content: center;
}

.cta-period {
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'trim-bold';
  padding-bottom: 4px;
}

.cta-period span {
  font-family: 'oscine-regular';
  display: block;
  padding-bottom: 4px;
  text-transform: none;
}

.cta-permonth {
  font-family: 'trim-light';
  font-size: 12px;
}

.packageInfoText {
  font-size: 13px;
  line-height: 1.45;
  padding: 0 24px 12px;
}

.packageInfoText .uppercase {
  text-transform: uppercase;
  font-family: 'trim-semi-bold';
  font-weight: bold;
}

.packageInfoText .bold {
  font-weight: bold;
}

.form {
  background: var(--color-chalk);
  text-align: left;
  padding: 12px 18px;
}

label {
  color: var(--color-tarmac-light-20);
  font-family: 'trim-regular';
  font-size: 12px;
}

input {
  color: var(--color-tarmac);
  border: none;
  background: var(--color-chalk);
  border-bottom: solid 1px var(--color-tarmac-light-80);
  display: block;
  width: 100%;
  font-family: 'oscine-regular';
  padding: 8px 0;
  font-size: 18px;
  margin-bottom: 8px;
}

.checkbox input {
  position: absolute;
  left: 0;
  width: auto;
}

.checkbox {
  position: relative;
  padding-left: 30px;
  color: var(--color-tarmac);
  font-size: 12px;
}


.cards {
  background: var(--color-chalk);
  color: var(--color-tarmac);
  text-align: left;
  padding: 0 24px;
}

.card-item {
  border-bottom: solid 1px var(--color-tarmac-light-80);
  padding: 24px 0;
}

.card-item i {
  padding-right: 8px;
  padding-top: 2px;
}

.cards .right {
  float: right
}

.card-item .logo {
  width: 20px;
  height: 20px;
  background-size: 20px;
}

.btn.view-all-sports {
  margin: 0 0 20px 0;
  font-style: normal;
  padding: 12px 0;
}

.cancel-anytime {
  font-family: 'trim-light';
  color: var(--color-tarmac);
  padding: 0 0 12px 0;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.login {
  padding-bottom: 24px;
}

.login a {
  color: var(--color-chalk);
}

.step4content {
  background-color: var(--color-tarmac-light-10);
  color: var(--color-chalk);
  text-align: left;
  padding: 18px;
}

.step4content header {
  color: var(--color-chalk);
  margin-bottom: 12px;
  text-transform: uppercase;
  padding: 12px 0 24px;
  position: relative;
  font-family: 'trim-semi-bold';
  border-bottom: solid 1px var(--color-tarmac);
}

.step4content header .logo {
  position: absolute;
  top: 0;
  right: 0;
}

.logo {
  background: url("https://investinholland.com/nfia_media/2018/09/DAZN_RGB_Logo_Tarmac-e1536832185366.png") no-repeat;
  background-size: 36px;
  width: 36px;
  height: 36px;
  display: block;
}

.step4content ul {
  clear: both;
  font-family: 'oscine-bold';
  font-size: 16px;

}

.step4content li {
  padding: 8px 0;
}

.step4content li span {
  font-family: 'oscine-regular';
  float: right;
}

.step4content li span.bold {
  font-family: 'oscine-bold';
  float: right;
}

.round {
  border: solid 1px var(--color-tarmac);
  border-radius: 50%;
  width: 16px;
  display: inline-block;
  text-align: center
}

.mega-text {
  font-family: 'trim-light';
  font-size: 24px;
  line-height: 1.25;
  text-transform: uppercase;
  padding-bottom: 12px;
}

.mega-bold {
  font-family: 'trim-bold';
}

.sports {
  text-align: left;
  font-family: 'trim-bold';
  text-transform: uppercase;
  border-bottom: solid 2px var(--color-yellow);
  padding: 12px 0;
  margin: 0 4px;
}

.sports i {
  float: right;
}

.sports-image {
  width: 100%;
  padding: 24px 0;
  margin: 0 4px;
}

b {
  font-family: 'trim-bold';
  font-size: 17px;
}

.step4 {
  background: url("https://s3.eu-west-2.amazonaws.com/assets.dazn.design/dazn.design/images/TP-iOS-complete-bg-grey.jpg") no-repeat;
  background-size: 100%;
}

.step5 {
  background: url("http://s3.eu-west-2.amazonaws.com/assets.dazn.design/dazn.design/images/TP-iOS-complete-bg.jpg") no-repeat;
  background-size: 100%;
}

.step4 >header {
  background: var(--color-tarmac);
}

.step1,
.step2,
.step3 {
  padding:0 8px;
}

.step5,
.step4 {
  width: 100vw;
  height: 100vh;
}

.step4 > div {
  padding: 0 8px;
}

.step5 header,
.step5 footer,
.step4 footer {
  display: none;
}

.icon-chevron-thin-left {
  position: absolute;
  left: 12px;
  font-size: 22px;
}

.step1 .icon-chevron-thin-left,
.step4 .icon-chevron-thin-left,
.step5 .icon-chevron-thin-left {
  display: none;
}

.allSet,
.step4 .app-header {
  background-color: var(--color-tarmac-light-10);

}

.allSet .btn {
  display: block;
  width: 100%;
  font-size: 16px;
  border: none;
}

.allSet .btn.secondary {
  background: var(--color-tarmac-light-20);
  color: var(--color-chalk);
}

.allSet p {
  line-height: 1.3;
}

.allSet {
  padding: 0 24px 18px !important;
}